# Timeout in seconds that Limine will use before automatically booting.
TIMEOUT=3

# The entry name that will be displayed in the boot menu.
:Limine Barebones (KASLR off)
    # We use the Limine boot protocol.
    PROTOCOL=limine

    # Disable KASLR (it is enabled by default for relocatable kernels)
    KASLR=no

    # Path to the kernel to boot. boot:/// represents the partition on which limine.cfg is located.
    KERNEL_PATH=boot:///kernel.elf

# Same thing, but with KASLR.
:Limine Barebones (KASLR on)
    PROTOCOL=limine

    KERNEL_PATH=boot:///kernel.elf
