# Timeout in seconds that Limine will use before automatically booting.
TIMEOUT=3

# The entry name that will be displayed in the boot menu.
:Limine Template (KASLR on)
    # We use the Limine boot protocol.
    PROTOCOL=limine

    # Path to the kernel to boot. boot:/// represents the partition on which limine.cfg is located.
    KERNEL_PATH=boot:///kernel

# Same thing, but without KASLR.
:Limine Template (KASLR off)
    PROTOCOL=limine

    # Disable KASLR (it is enabled by default for relocatable kernels)
    KASLR=no

    KERNEL_PATH=boot:///kernel
